<header>
  <div class="container">
    <h1 class="home">
      <a href="{{ '/' | url }}">{{ metadata.title }}</a>
    </h1>
  
    <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
      <li {% if entry.url == page.url %} aria-current="page" class="my-active-class"{% endif %}>
        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
      </li>
      {%- endfor %}
    </ul>
  </div>
</header>
